.staffFunctionUI {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
}

.staffFunctionUI__allFunction {
    position: absolute;
    z-index: 500;
    bottom: 120px;
    right: 30px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .staffFunctionUI__allFunction__btn {
        height: 50px;
        width: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);

        i {
            font-size: 18px;
        }
    }

    .staffFunctionUI__allFunction__btn--logout {
        background-color: darkred;

        i {
            color: #ffffff;
        }
    }

    .staffFunctionUI__allFunction__btn--incidentLocation.true {
        background-color: #3e3f46;

        i {
            color: #ffffff;
        }
    }

    .staffFunctionUI__allFunction__btn--anotherStaffLocation.true {
        background-color: #3e3f46;

        i {
            color: #ffffff;
        }
    }

    .staffFunctionUI__allFunction__btn--task {
        border: 5px solid #ffffff;
    }

    .staffFunctionUI__allFunction__btn--task.true {
        border: 5px solid red;
        animation: newTaskAnimate linear 0.3s infinite alternate;
    }
}

@keyframes newTaskAnimate {
    from {
        border: 5px solid #ffffff;
    }

    to {
        border: 5px solid red;
    }
}

.staffFunctionUI__reportAnnountContainer {
    position: absolute;
    z-index: 500;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: calc(100% - 60px);
    background-color: transparent;
    display: flex;
    gap: 20px;
    justify-content: center;

    .staffFunctionUI__reportAnnountContainer__btn {
        height: fit-content;
        width: 80%;
        padding: 20px 0;
        border-radius: 10px;
    }

    .staffFunctionUI__reportAnnountContainer__btn--DoneTask {
        background-color: var(--mainColor-dark);
    }

}

.staffFunctionUI__taskStateContainer {
    position: absolute;
    z-index: 500;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: calc(100% - 60px);
    background-color: transparent;
    
    .staffFunctionUI__taskStateContainer__tag__box--state i {
        color: #ffffff;
        font-size: 24px;
        text-shadow: 0 0 5px black;
    }

    .staffFunctionUI__taskStateContainer__tag.normal {
        background-color: lime;
    }
    
    .staffFunctionUI__taskStateContainer__tag.severe {
        background-color: orange;
    }

    .staffFunctionUI__taskStateContainer__tag.critical {
        
    }

    .staffFunctionUI__taskStateContainer__tag {
        height: 60px;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        gap: 20px;
        align-items: center;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
        padding: 0 20px;
        border-radius: 10px;

        .staffFunctionUI__taskStateContainer__tag__box--nameTask {
            height: fit-content;
            flex: 1;
            font-size: 18px;

            p {
                text-shadow: 0 0 5px black;
                color: #ffffff;
            }
        }

        .staffFunctionUI__taskStateContainer__tag__box--taskMarker {
            height: 5px;
            width: 5px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 20px;
            border-radius: 50%;

            i {
                font-size: 18px;
                color: red;
            }
        }
    }


}


/* Custom marker */
.staff__customMarker {
    .staffMarkerMarker {
        height: 50px;
        width: 50px;
        background-color: transparent;
    }

    .fa-map-marker-alt {
        color: #3e3f46;
        font-size: 40px;
    }
}